@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;1,400&display=swap');

:root {
  --backgroundColor: #FAEDEE;
  --primaryColor: #3F418D;
  --fontColor: #777777;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  color: var(--fontColor);
  letter-spacing: 1px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

strong {
  color: black;
}

li:hover {
  background-color: rgb(125, 75, 219);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 16px;
  flex-wrap: wrap;
  background-color: var(--backgroundColor);
}

header h1 {
  color: black;
}

header ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  letter-spacing: 2px;
  margin-top: 16px;
}

header ul li {
  background-color: var(--primaryColor);
  color: whitesmoke;
  padding: 4px 12px;
  box-shadow: 6px 6px 0 0 black;
  border: 2px solid black;
}

header ul li a {
  color: whitesmoke;
}

#hr-header {
  border: 1px solid black;
  margin: 16px 0;
}

/* Hero */
#hero {
  text-align: center;
  padding: 64px 16px;
  margin-bottom: 32px;
}

#hero-title {
  font-size: 40px;
  color: black;
}

/* Sections */
section {
  margin-bottom: 32px;
}

.section-title {
  background-color: var(--primaryColor);
  display: inline-block;
  color: whitesmoke;
  padding: 4px 16px;
  box-shadow: 6px 6px 0 black;
  border: 2px solid black;
  position: relative;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

/* Articles */
section article {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

article {
  margin-bottom: 12px;
}

article h3 {
  color: black;
}

/* Project / Techstack */
.techstack {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 30px;
}

/* GitHub Link */
.github-link a {
  display: flex;
  align-items: center;
  margin-top: 16px;
  gap: 8px;
  border: 2px solid grey;
  width: fit-content;
  padding: 8px 12px;
  border-radius: 18px;
}

.github-icon {
  height: 30px;
}

.icon {
  height: 50px;
}

/* Skills Section */
.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 12px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  background-color: var(--backgroundColor);
}
